/* Generic Styles */
/* Use this section to add styles that should be common among all pages of seagrave */
a, .ui-widget-content a {
    color: #2f55a6;
    text-decoration: none;
}
a:hover {
    color: #f5891d;
}
.centered {
    text-align: center;
}
.textleft {text-align: left;}
.textcenter {text-align: center;}
.textright {text-align: right;}
.textjustify {text-align:justify;}

/**
 * LOGIN BOX
*/
#pLoginForm {
    margin: 100px auto;
}
#pLoginForm .logo { position: relative; margin: 0 auto; text-align: center; }
#pLoginFormBox {
    border: 1px solid #0095D6;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(242, 103, 36, 0.5);
    padding: 20px;
    width: 280px;
    margin: 20px auto;
}
#pLoginForm .error, #pLoginForm .notice, #pLoginForm .success {
    background: none;
    border-color: inherit;
    color: inherit;
    border: none;
    margin-bottom: 0;
    padding: 0;
}
#pLoginFormBox .input {
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: medium none;
    padding: 3px;
    width: 97%;
}
#pLoginFormBox label.rememberMe-label {
    display: inline-block;
}

/**
 * MAIN MENU STYLE
*/
.headercon {
    display: block !important;
    margin: 20px auto;
}
.headercon .pLogout {
    float: right;
}
#mainMenu {
    width: 100%;
    float: left;
    height: 5em;
}
#mainMenu ul {
    background: #0095D6;
    list-style:none;
    position: relative;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#mainMenu ul li {
    float: left;
    color: #0E4B82;
    text-align: center;
    padding: 6px 2px;
    position: static;
    width: 6.8%;
}
#mainMenu ul li.pLogout {
    float: right;
}
#mainMenu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#mainMenu ul li:hover {
    box-shadow: 0 2px 0 0 #916EAE inset;
}
#mainMenu ul li.active {
    background: #916EAE;
}

input.date[type="text"] {
    background: url("icons/calendar.png") no-repeat scroll 1px 50% #FFFFFF;
    padding-left: 20px;
    width: 80px;
}
.pFilters {
    border: 1px solid #aaa;
    padding: 5px;
}
.pFilters h3 {
    font-size: 14px;
    font-weight: bold;
}
.pFilters .element {
}
.pFilters .element label {
    display: block;
    font-size: 12px;
    font-weight: bold;
}
.pFilters .element:hover label {
    color: #f00;
}
.pFilters .element input[type=text].date {
    width: 80px;
    padding-left: 20px;
    background: #fff url('icons/calendar.png') 1px 50% no-repeat;
}
div.form{
}
div.form input,
div.form textarea,
div.form select{
    margin: 0.2em 0 0.5em 0;
}
div.form fieldset{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}
div.form label{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}
div.form label.inlineLabel{
    display: inline;
    margin: 0px 3px;
    font-weight: normal;
}
div.form .row{
    margin: 5px 0;
}
div.form .row.buttons{
    padding: 5px;
    margin: 10px 0;
}
div.form .row.buttons input{
    margin: 0;
}
div.form .hint{
    margin: 0;
    padding: 0;
    color: #999;
}
div.form .note{
    font-style: italic;
}
div.form span.required{
    color: red;
}
div.form div.error label,
div.form label.error,
div.form span.error{
    color: #C00;
}
div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error{
    background: #FEE;
    border-color: #C00;
}
div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success{
    background: #E6EFC2;
    border-color: #C6D880;
}
div.form .cancel-link { margin-left: 20px; }
div.form .cancel-link:hover { color: #916EAE; }
div.form .errorSummary{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}
div.form .errorMessage{
    color: red;
    font-size: 0.9em;
}
div.form .errorSummary p{
    margin: 0;
    padding: 5px;
}
div.form .errorSummary ul{
    margin: 0;
    padding: 0 0 0 20px;
}
div.form .tooltip{
    display: none;
    background-color:#EFFDFF;
    border:1px solid #79B4DC;
    padding: 10px;
    width: 300px;
}
div.form .tooltip ul{
    margin: 0;
    padding: 10px 0 0 20px;
}
div.form .tooltip code{
    color: #CA0EE3;
    font-size:0.9em;
}
