body
{
    color: #555;
    font: normal 12px Helvetica,sans-serif;
    background:url(../img/background-app.jpg) top center no-repeat;
}
body.smile{
    background-image: url(../img/background-app-with-smile.jpg);
}
body.prelike{
    background-image: url(../img/background-app-clouds-only.jpg);
}
.section-wrapper .container {
    position: relative;
}
.page-container {
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.gutter-top{
    margin-top: 10px;
}
/**
 * Header css
*/
.header.section-wrapper {
    margin: 40px 0 20px 0;
    border-top: 4px solid #F8AD52;
    border-bottom: 4px solid #F8AD52;
    padding: 10px 0;
}
.header.section-wrapper .container .logo {
    display: block;
    float: right;
}
.header.section-wrapper .container .tag-line {
    display: block;
    font-size: 16px;
    margin-top: 2px;
}
.header.section-wrapper .container .site-name {
    display: block;
    font-size: 32px;
    margin-top: 10px;
    text-decoration: none;
}

/**
 * Footer css
*/
.footer.section-wrapper {
    background-color:  #F8AD52;
    display: block;
    height: 200px;
    margin-top: 50px;
    position: relative;
}
.footer.section-wrapper .footnote {
    color: white;
}

/**
 * Main menu css
*/
#main-menu {
    display: block;
    position: relative;
}
#main-menu ul {
    margin-bottom: 15px;
    padding:10px 0;
    text-align: center;
}
#main-menu ul li {
    display: inline;
    margin: 0 10px;
}
#main-menu ul li a {
    color: #555;
    background-color: #F8AD52;
    font-size: 20px;
    text-decoration:none;
    padding: 10px;
}
#main-menu ul li a:hover, #main-menu ul li.active a
{
    color: #fff;
}
#main-menu ul li a:hover
{
    transition: color 0.4s ease 0s;
    -moz-transition: color 0.4s ease 0s; /* Firefox 4 */
    -webkit-transition: color 0.4s ease; /* Safari and Chrome */
    -o-transition: color 0.4s ease 0s; /* Opera */
}

.blue{
    color: #5b72a8;
}
/**
 * Footer menu css
*/
#fb-canvas{
    color: #888;
    font-size: 12px;
    line-height: 14px;
    display: block;
    padding-top: 20px;
    width: 760px;
    min-height: 735px;
    margin: 0 auto;
    /*background: transparent url(backgrounds/main-bg.png) no-repeat center top; */
}
#fb-canvas #main-content{
    min-height:640px;
}
#fb-canvas h1{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #4a63ad;
    font-size: 24px;
    font-weight: bold;
    text-indent: -20px;
}
#fb-canvas .logo{
    position: relative;
    float: right;
    margin: 20px 30px 0 0;
    z-index: 20;
    width: 300px;
}
#fb-canvas .logo.small{
    margin: -2px 29px 0 0;
    width: 190px;
}
#fb-canvas .placeholders{
    min-height: 650px;
    position: relative;
}
#fb-canvas .navigation-buttons a.photoApp,
#fb-canvas .navigation-buttons a.recipes{
    opacity: 0.94;
    position: absolute;
    text-indent: -9999px;
    width: 230px;
    height: 46px;
}
#fb-canvas .navigation-buttons a.photoApp:hover,
#fb-canvas .navigation-buttons a.recipes:hover{
    opacity: 1;
}
#fb-canvas .navigation-buttons a.photoApp{
    top: 5px;
    left: 20px;
    background: url(../img/buttons.png) 0px 0px no-repeat;
}
#fb-canvas .navigation-buttons a.recipes{
    top: 575px;
    left: 500px;
    background: url(../img/buttons.png) -234px 0px no-repeat;
}
#fb-canvas .placeholders .prelike-text{
    font-size: 33px;
    line-height: 35px;
    font-weight: bold;
    color: #92959a;
    position: absolute;
    top:10px;
}
#fb-canvas .placeholders .prelike-text ul {
    margin-top: 40px;
}
#fb-canvas .placeholders .prelike-text ul li{
    font-size: 29px;
    margin-bottom: 15px;
}

#fb-canvas .placeholders .left-bubble{
    position: absolute;
    top: 65px;
    left: 0px;
    width: 440px;
    height: 320px;
    padding:20px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    overflow: visible;
    display: inline-block;
}
#fb-canvas .placeholders .placeholder-r-1{
    position: absolute;
    top: 120px;
    left: 390px;
    width: 365px;
    height: 120px;
    padding: 20px 0 0 0;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    overflow: visible;
    display: inline-block;
}
#fb-canvas .placeholders .placeholder-r-1 .like-arrow {
    cursor: default;
    display: block;
    margin-bottom: 120px;
    margin-left: 150px;
    padding-bottom: 138px;
    padding-left: 110px;
    position: relative;
    top: -180px;
    z-index: 20;
}
#fb-canvas .placeholders .placeholder-r-1 .like-arrow:hover{
    cursor: default;
}

#fb-canvas .placeholders .placeholder-r-2{
    display: inline-block;
    overflow: visible;
    height: 200px;
    left: 378px;
    position: absolute;
    text-align: right;
    top: 299px;
    width: 300px;
}
#fb-canvas .footer{
    margin:20px 0 50px;
}
#fb-canvas .footer-menu{
    color: #757575;
    display: inline-block;
    margin: 0 auto;
    list-style: none;
}
#fb-canvas .footer-menu li{
    float: left;
    display: inline-block;
}
#fb-canvas .footer-menu li:before{
    display: inline;
    content: "|";
    margin:0 12px;
}
#fb-canvas .footer-menu li:first-child:before{
    display: none;
}

#fb-canvas .footer-menu li a{
    color: #757575;
    text-decoration: none;
}
#fb-canvas .footer-menu li a:hover{
    text-decoration: underline;
}
#fb-canvas .user-container{
    text-align: center;
}
#fb-canvas .user-canvas{
    padding: 5px;
    background: #eee;
    margin: -105px auto 5px auto;
    border: 1px solid #e0e0e0;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}
#fb-canvas .user-canvas.completed {
    position: absolute;
    z-index: 300;
    margin-left: -515px;
    margin-top: -179px;
    box-shadow: 0 0 11px 3px #555;
}

#fb-canvas .user-image{
    background-position: center center;
    background-size: cover;
    height: 120px;
    width: 120px;
    display: block;
    margin: 0 auto;
}
#fb-canvas .user-canvas .user-name{
    top: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -23px;
    position: relative;
    left: 0px;
    width: 119px;
    height: 15px;
    display: block;
}
#fb-canvas .large-content{
    line-height: 16px;
    width: 288px;
    margin: -19px 0 5px 0;
}
#fb-canvas .user-input{
    text-align: left;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 5px;
    box-shadow:0 2px 25px 0 #CCCCCC;
}
#fb-canvas .placeholder-r-2  textarea{
    color: #555;
    border: 1px solid #888;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 4px 5px -5px #AAAAAA inset;
    height: 60px;
    width: 258px;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}
/* left buble (text view) */
.placeholders .left-bubble .text{
    font-size: 15px;
    line-height: 20px;
    padding: 55px 0 0 97px;
}
.placeholders .left-bubble  .text strong{
}
.placeholders .left-bubble  .text .like{
    vertical-align: bottom;
    margin-bottom: -1px;
}
.placeholders .left-bubble  .text .expert{
    margin-top:12px;
    font-size: 11px;
    line-height: 13px;
    width: 220px;
    color: #000;
}
.placeholders .left-bubble  .text .expert img{
    margin:0 5px 0 42px;
    width: 78px;
}
.placeholders .left-bubble .text .title{
    font-weight: bold;
}
.placeholders .left-bubble  .text .expert.large{
    margin-top:12px;
    font-size: 11px;
    line-height: 13px;
    width: 250px;
    color: #000;
}
.placeholders .left-bubble  .text .expert.large img{
    margin:0 5px 0 15px;
    width: 110px;
}
/* right buble (text view) */
.placeholders .placeholder-r-2 .text{
    padding: 40px 10px 0 0px;
    font-size: 13px;
    line-height: 16px;
}
.placeholders .placeholder-r-2 .text.large{
    font-size: 14px;
    line-height: 16px;
}
.prelike-message{
    font-size: 18px;
    line-height: 20px;
}

/**
 * Forms css
*/
.form .errorSummary  { width: 410px; }
.form label {margin-bottom: 0.3em;}
.form input[type=text] {
    border: 1px solid #888;
    margin: 0.1em 0 0.2em 0;
}

/**
 * Recipe form
*/
.recipe-form-container.frontend {
    background-color: white;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: -175px;
}
.recipe-form-container .row {margin: 2px 0;}
div.form.recipe-form-container label {display: inline-block; font-size:1.1em; margin: 5px 0;}
.recipe-form-container input[type=text]{
    width: 239px;
}
.recipe-form-container .ingredients-container {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    display: block;
    margin: 15px 0;
    padding: 10px 0;
}
.recipe-form-container .ingredients-container input[type=text]{
    border: none;
    border-bottom: 1px dotted #888;
    margin: 0;
    text-align: right;
}
.recipe-form-container .ingredients-container .content {
    min-height: 50px;
    max-height: 84px;
    padding-right: 5px;
    overflow-y: auto;
    margin-right: -20px;
}
.recipe-form-container .ingredients-container #Ingredients_ingredient1 { margin-right: 19px; }
.recipe-form-container .row a.add-ingredient {
    display: block;
    margin-right: 20px;
    margin-top: 0.5em;
}
.recipe-form-container .row a.remove-ingredient {
    background: url(../img/icons/close.png) center center no-repeat;
    background-cover: cover;
    display: inline-block;
    margin-left: 3px;
    width: 16px;
    height: 16px;
    line-height: 17px;
}
/* Backend form */
div.form.recipe-form-container.backend label { display: block; }

/* face-pile recipe item */
#fb-canvas .recipe-item h1 {
    text-indent: 0;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #0292CF;
    padding-bottom: 5px;
    font-size: 15px;
    color: #0292CF;
    background-color: white;
    padding: 4px;
    line-height: 22px;
    border-radius: 3px;
}
#fb-canvas .recipe-item h2 {
    color: #444;
    font-size: 15px;
}
#fb-canvas .recipe-item .row {
    margin-top: 5px;
}
#fb-canvas .recipe-item .row label {
    color: #444;
    font-size: 14px;
}
#fb-canvas .recipe-item .row span {
    font-size: 15px;
    font-weight: bold;
}
#fb-canvas .recipe-item ul {
    margin-right: 5px;
}
#fb-canvas .recipe-item ul li {
    margin-bottom: 3px;
}
#fb-canvas .recipe-item .execution {
    margin-bottom: 10px;
}

/* face-pile */
#face-pile .loading{
    position: absolute;
    top: 125px;
    left: 185px;
}
#face-pile > div > a{
    position: absolute;
}
#face-pile > div > a > img{
    width: 100%;
    border: 2px solid #fff;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5);
}
#face-pile > div > a:hover > img{
    box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
}
/* PhotoApp*/
#face-pile .profile-1{
    width: 25px;
    left: 383px;
    top: 215px;
}
#face-pile .profile-2{
    width: 30px;
    left: 374px;
    top: 182px;
}
#face-pile .profile-3{
    width: 40px;
    left: 351px;
    top: 138px;
}
#face-pile .profile-4{
    width: 42px;
    left: 314px;
    top: 92px;
}
#face-pile .profile-5{
    width: 43px;
    left: 307px;
    top: 130px;
}
#face-pile .profile-6{
    width: 38px;
    left: 331px;
    top: 175px;
}
#face-pile .profile-7{
    width: 49px;
    left: 249px;
    top: 207px;
}
#face-pile .profile-8{
    width: 52px;
    left: 205px;
    top: 238px;
}
#face-pile .profile-9{
    width: 55px;
    left: 155px;
    top: 232px;
}
#face-pile .profile-10{
    width: 39px;
    left: 114px;
    top: 228px;
}
#face-pile .profile-11{
    width: 50px;
    left: 261px;
    top: 89px;
}
#face-pile .profile-12{
    width: 60px;
    left: 284px;
    top: 179px;
}
#face-pile .profile-13{
    width: 65px;
    left: 232px;
    top: 140px;
}
#face-pile .profile-14{
    width: 50px;
    left: 252px;
    top: 38px;
}
#face-pile .profile-15{
    width: 59px;
    left: 194px;
    top: 14px;

}
#face-pile .profile-16{
    width: 47px;
    left: 199px;
    top: 195px;
}

#face-pile .profile-17{
    width: 72px;
    left: 188px;
    top: 72px;
}
#face-pile .profile-18{
    width: 75px;
    left: 121px;
    top: 163px;
}
#face-pile .profile-19{
    width: 50px;
    left: 181px;
    top: 148px;
}
#face-pile .profile-20{
    width: 45px;
    left: 70px;
    top: 186px;
}
#face-pile .profile-21{
    width: 59px;
    left: 64px;
    top: 126px;
}
#face-pile .profile-22{
    width: 66px;
    left: 123px;
    top: 98px;
}
#face-pile .profile-23{
    width: 39px;
    left: 74px;
    top: 84px;
}
#face-pile .profile-24{
    width: 75px;
    left: 58px;
    top: 56px;
}
#face-pile .profile-24{
    width: 56px;
    left: 136px;
    top: 45px;
}
#face-pile .profile-25{
    width: 41px;
    left: 93px;
    top: 54px;
}
#face-pile .profile-26{
    width: 38px;
    left: 298px;
    top: 57px;
}
#face-pile .profile-27{
    width: 26px;
    left: 354px;
    top: 114px;
}
#face-pile .profile-28{
    width: 33px;
    left: 162px;
    top: 19px;
}
#face-pile .profile-29{
    width: 28px;
    left: 257px;
    top: 256px;
}
#face-pile .profile-30{
    width: 23px;
    left: 398px;
    top: 233px;
}

/* Recipes */
#face-pile .recipes{
    position: absolute;
    /*top: 173px;
    left: 320px;*/
}
#face-pile .recipes-active-box{
    display: none;
    /* full = w: 354, l: 339*/
    width: 34px;
    height: 270px;
    background: url('backgrounds/right-bubble-active-bg-with-text.png?1') center right;
    position: absolute;
    z-index: 500;
    left: 659px;
    top: 197px;
    cursor: pointer;
}
#face-pile .recipes-active-box.animated{
    cursor: auto;
    background-image: url('backgrounds/right-bubble-active-bg.png?');
}
#face-pile .recipes-content-box{
    display: none;
    float: right;
    margin: 0;
    width: 249px;
    height: 224px;
    background: url(backgrounds/popup-2.jpg) no-repeat left top;
    border: 4px solid #1486c8;
    padding: 7px;
    color: #666;
    font-size: 15px;
    overflow: hidden;
    position: absolute;
    top: 210px;
    left: 390px;
    z-index: 600;
    box-shadow: -1px 0px 16px 2px #333;
    overflow-y: auto;
    border-radius: 12px;
}

#face-pile .photoApp-active-box{
    display: none;
    /* full = w: 354, l: 339*/
    width: 30px;
    height: 270px;
    background: url('backgrounds/left-bubble-active-bg-with-text.png?1') center left no-repeat;
    position: absolute;
    z-index: 500;
    left: 65px;
    top: 29px;
    cursor: pointer;
}
#face-pile .photoApp-active-box.animated{
    cursor: auto;
    background-image: url('backgrounds/left-bubble-active-bg.png?1');
}
#face-pile .photoApp-content-box{
    display: none;
    float: right;
    margin: 10px 0 0 0;
    width: 249px;
    height: 224px;
    background: url(backgrounds/popup-2.jpg) no-repeat left top;
    border: 4px solid #9e82b6;
    padding: 7px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    left: 96px;
    z-index: 600;
    box-shadow: -1px 0px 15px 0px #333;
    overflow-y: auto;
    border-radius: 12px;
}
.user-name{
    background: #232323;
    background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
    bottom: -5px;
    color: #fff;
    display: block;
    left: 5px;
    padding-top: 4px;
    position: absolute;
    width: 100%;
    word-wrap: break-word;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
#face-pile .recipes-content-box.state{
    box-shadow: 11px 0 25px -16px #000;
    -o-transition:  box-shadow 1.5s;
    transition:  box-shadow 1.5s;
}
#face-pile .photoApp-active-box .call-to-action{
    text-align: center;
    padding: 97px 42px 0 6px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
#face-pile .recipes-active-box .call-to-action{
    text-align: center;
    padding: 106px 25px 0 60px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
#face-pile .photoApp-selected-box{
    display: none;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    left: 160px;
    z-index: 600;
}
#face-pile .recipes-selected-box{
    display: none;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 265px;
    left: 470px;
    z-index: 600;
}
#face-pile .photoApp-selected-box img,
#face-pile .recipes-selected-box img{
    border:5px solid #fff;
    box-shadow: 0 0 1px 0 #444, 0 0 30px 5px #000;
}
#face-pile .photoApp-selected-box a.close,
#face-pile .recipes-selected-box a.close{
    position: absolute;
    top: -16px;
    left: 88px;
    text-indent: -9990px;
    background: url(../img/icons/close.png) center center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    opacity: 0.92;
}
#face-pile .photoApp-selected-box a.close:hover,
#face-pile .recipes-selected-box a.close:hover{
    opacity: 1;
}
#face-pile .recipes .profile-1{
    width: 50px;
    left: 510px;
    top: 239px;
}
#face-pile .recipes  .profile-2{
    width: 52px;
    left: 547px;
    top: 304px;
}
#face-pile .recipes .profile-3{
    width: 54px;
    left: 460px;
    top: 313px;
}
#face-pile .recipes .profile-4{
    width: 47px;
    left: 577px;
    top: 351px;
}
#face-pile .recipes .profile-5{
    width: 45px;
    left: 640px;
    top: 247px;
}
#face-pile .recipes .profile-6{
    width: 65px;
    left: 512px;
    top: 377px;
}
#face-pile .recipes .profile-7{
    width: 63px;
    left: 569px;
    top: 231px;
}
#face-pile .recipes .profile-8{
    width: 39px;
    left: 414px;
    top: 254px;
}
#face-pile .recipes .profile-9{
    width: 42px;
    left: 458px;
    top: 198px;
}
#face-pile .recipes .profile-10{
    width: 46px;
    left: 457px;
    top: 241px;
}
#face-pile .recipes .profile-11{
    width: 55px;
    left: 402px;
    top: 323px;
}
#face-pile .recipes .profile-12{
    width: 37px;
    left: 469px;
    top: 277px;
}
#face-pile .recipes .profile-13{
    width: 33px;
    left: 433px;
    top: 297px;
}
#face-pile .recipes .profile-14{
    width: 45px;
    left: 428px;
    top: 371px;
}
#face-pile .recipes .profile-15{
    width: 71px;
    left: 502px;
    top: 177px;

}
#face-pile .recipes .profile-16{
    width: 22px;
    left: 338px;
    top: 225px;
}

#face-pile .recipes .profile-17{
    width: 30px;
    left: 379px;
    top: 257px;
}
#face-pile .recipes .profile-18{
    width: 30px;
    left: 430px;
    top: 224px;
}
#face-pile .recipes .profile-19{
    width: 51px;
    left: 573px;
    top: 184px;
}
#face-pile .recipes .profile-20{
    width: 35px;
    left: 356px;
    top: 279px;
}
#face-pile .recipes .profile-21{
    width: 41px;
    left: 620px;
    top: 209px;
}
#face-pile .recipes .profile-22{
    width: 66px;
    left: 454px;
    top: 363px;
}
#face-pile .recipes .profile-23{
    width: 45px;
    left: 515px;
    top: 283px;
}
#face-pile .recipes  .profile-24{
    width: 76px;
    left: 662px;
    top: 384px;
}
#face-pile .recipes  .profile-24{
    width: 41px;
    left: 616px;
    top: 373px;
}
#face-pile .recipes  .profile-25{
    width: 36px;
    left: 580px;
    top: 395px;
}
#face-pile .recipes  .profile-26{
    width: 74px;
    left: 508px;
    top: 322px;
}
#face-pile .recipes .profile-27{
    width: 77px;
    left: 603px;
    top: 298px;
}
#face-pile .recipes .profile-28{
    width: 35px;
    left: 393px;
    top: 291px;
}
#face-pile .recipes  .profile-29{
    width: 25px;
    left: 352px;
    top: 249px;
}
#face-pile .recipes  .profile-30{
    width: 31px;
    left: 368px;
    top: 315px;
}

/**
 * Breadcrumbs css
*/
div.breadcrumbs
{
    border-bottom: 1px dashed #F8AD52;
    display: block;
    font-size: 0.9em;
    margin: 0 0 40px 118px;
    padding: 5px 0px;
    width: 697px;
}

div.breadcrumbs span
{
    font-weight: bold;
}
/**
 * Flash error messages css
*/
div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

/**
 * Home page css
*/
.home-container {
    padding-top: 20px;
}
.home-container .newspaper-2-column {
    min-height: 220px;
}
/**
 * Reservation form css
*/
.reservation-container .reservation-info-container {
    position: relative;
}
.reservation-container .reservation-inquiry,
.reservation-container .reservation-info {
    position: absolute;
    top: 36px;
}
.reservation-container .reservation-inquiry {
    display: none;
}
.reservation-container .reservation-info {
    display: block;
}
.reservation-container .reservation-info tr.night-route-fee,
.reservation-container .reservation-info tr.discount-row {
    display: none;
}
.reservation-container .reservation-info td:first-child {
    width: 185px;
}
.reservation-container .reservation-info td {
    padding-bottom: 10px;
}
.reservation-container .reservation-info td.value {
    font-size: 1.2em;
    font-weight: bold;
}
.reservation-container .reservation-info td.total-price {
    border-top: 1px solid #555;
    font-size: 1.4em;
    font-weight: bold;
}
.reservation-container input[type=text],
.reservation-container select {
    border: 1px solid #555;
    color: #555;
    cursor: pointer;
    padding: 5px;
}
.reservation-container input[type=text] {
    width: 250px;
}
.reservation-container select {
    width: 262px;
}
.reservation-container input[type=submit] {
    background-color: #F8AD52;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}
.reservation-container input[type=submit]:hover {
    color: white;
    transition: color 0.4s ease 0s;
    -moz-transition: color 0.4s ease 0s; /* Firefox 4 */
    -webkit-transition: color 0.4s ease; /* Safari and Chrome */
    -o-transition: color 0.4s ease 0s; /* Opera */
}
.reservation-container .customRoute {
    display: none;
}
.reservation-container .departureHour,.reservation-container .departureMinute {
    width: 80px;
}

/**
 * Contact form css
*/
.contact-container .contact-info {
    display: block;
    padding-top: 36px;
    position: relative;
}
.contact-container .contact-info td {
    padding-bottom: 10px;
}
.contact-container .contact-info td.value {
    font-size: 1.2em;
    font-weight: bold;
}
.contact-container input[type=text],
.contact-container select {
    border: 1px solid #555;
    color: #555;
    padding: 5px;
}
.contact-container input[type=text] {
    width: 250px;
}
.contact-container select {
    width: 262px;
}
.contact-container input[type=submit] {
    background-color: #F8AD52;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}
.contact-container input[type=submit]:hover {
    color: white;
    transition: color 0.4s ease 0s;
    -moz-transition: color 0.4s ease 0s; /* Firefox 4 */
    -webkit-transition: color 0.4s ease; /* Safari and Chrome */
    -o-transition: color 0.4s ease 0s; /* Opera */
}
.contact-container .google-map {
    margin: 10px auto 0 auto;
    height: 450px;
    width: 900px;
}

/**
 * Routes - Prices page
*/
.routes-page .newspaper-2-column {
    min-height: 255px;
}
.routes-page .prices-table th {
    border-bottom: 1px solid #555;
}
.routes-page .prices-table th:first-child {
    width: 95px;
}
.routes-page .prices-table th:last-child {
    width: 95px;
}
.routes-page .prices-table tr td:last-child {
    text-align: right;
}
.routes-page .promo-bullet {
    font-size: 1.15em;
    margin-top: 5px;
}
/**
 * Timetable page css
*/
.timetable-page h2 {
    border-bottom: 1px solid #555;
}
.timetable-page table th:first-child {
    width: 65px;
}
.timetable-page table td {
    border-bottom: 1px dashed #aaa;
}

/** Admin section **/

#admin-wrapper {
    /*display: none;*/
    position: absolute;
    top: 0px;
    right: 0px;
}
.yiiLog {
    display: none;
}


/* BUTTONS */
a.button,
button,
input[type="submit"],
input[type="button"]{
    font-size: 12px;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 7px 18px -7px #FFFFFF inset;
    color: #FFFFFF;
    display: inline-block;
    padding: 0px 6px;
    border: none;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-right: 10px;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover{
    text-decoration: none;
    box-shadow: 0 7px 12px -7px #FFFFFF inset;
}
a.button:active,
a.button:focus,
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus{
    box-shadow: 0 7px 8px -9px #FFFFFF inset;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
