#loading{
    text-align: center;
}
.container{
    width: 600px;
}
.card {
    border:10px solid #f96;
    border-radius:10px;
    width:100px;
    height:100px;
    float:left;
    background-color:#fec;
    overflow:hidden;
    position:relative;
    cursor:pointer;
    margin:10px;
}

.card.empty {
    background:#fff;
    border-color:#fff;
    cursor:default;
    opacity: 0.4;
}

.card.empty img {
    display:none;
}

.card.selected {
    background-color:#fff;
    border-color:#69f;
}

.card.selected img {
    display:block;
}

.card img {
    display:none;
    position:absolute;
}

.card img.height {
    width:100%;
    top:0;
    left:0;
}

.card img.width {
    height:100%;
    left:-10px;
    top:0;
}

#notification, #complete {
    display: none;
    text-align: center;
}

#notification p {
    text-align:center;
    line-height:2;
    margin:auto 0;
}

@media screen and max-device-width 480px{
    .card {
        width:60px;
        height:60px;
    }
}